.navbar {
    background-color: #282F30;
    min-width: 17%;
    height: 100vh;
    padding: 2em 1em 0 1em;
}

.navbar p {
    color: #4E5459;
    margin-bottom: 1.5em;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 1.7em;
}