body{
    font-family: Arial;
    height: 100vh;
}
#root{
    height: 100vh;
    overflow: hidden;
}
.main {
    display: flex;
    height: 91vh;
    overflow: hidden;
}
.container {
    width: 83vw;
    display: flex;
    height: 91vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    position:sticky;
}
.content {
    background-color: rgba(242, 242, 243, 0.057);
    width: 83vw;
    height: fit-content;
    padding: 2em;
  }