.formcontainer {
    /* width: 97%; */
    border: 2px solid #000000d5;
    margin: 1em .1em;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.formcontainer p {
    width: 100%;
    color: #e2e3ea;
    background-color: #000000f3;
    font-size: .95em;
    padding: .7em;
    font-weight: bold;  
}

.form{
    width: 60%;
    margin: 3em 0 2.5em 0;
    height: 100%;
}

form h3 {
    color: #63ab4d;
    font-size: 1.5em;
    margin: 1.5em 0 0 .4em;
}

form h3:nth-child(1){
    margin: 0 0 0 .4em;

}

.fillform{
    height: 100%;
}

.fillform p {
    background-color: #ffffff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:auto;
}

.fillform input, .fillform select {
    width: 350px;
    margin: 0 1em 0 1em;
    padding: .4em;
}

.fillform input[readonly], .fillform select[readonly] {
    background-color: #F0F0F0;
    color: #666;
    border: 1px solid #ccc;
}

#error-message {
    display: none;
    margin-top: -1em;
    margin-left: 28.5em;
    color: red;
    width: 12.8em;
}

.buttonform {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 2em 0 .5em;
}

.buttonform button[type="reset"] {
    background-color: #ffffff;
    border: 2px solid black;
}

.buttonform button[type="submit"] {
    background-color: #000000f0;
    color: #ffffff;
    border: 2px solid black;
}

.buttonform button {
    border: none;
    padding: 1em 1.8em;
    margin: 1em 1em 0;
    width: 115px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;

}

.buttonform button:hover {
    background-color: rgb(72, 71, 71);
    border: 2px solid rgb(72, 71, 71);
    color: #ffffff;
}

.buttonform button a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.buttonform button:hover a {
    color:#ffffff;
}

.buttonform button:hover {
    cursor: pointer;
}