.fillform-complaint {
    border: 2px dashed black;
    border-radius: 8px;
    padding: 1em 5em 2em 5em;
}

.fillform-complaint p {
    background-color: #FFF;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 2em 3em;
    font-weight: bold;
}

#explain_complaint, 
.fillform-complaint select {
    width: 60%;
    margin: 0 1em 0 1em;
    padding: .5em;
    min-width: 200px;
}

.box .boxheader{
    width: 100%;
}

.box .boxinfo{
    /* width: max-content; */
    width: 100%;
    margin-top: 2em;
    padding-bottom: 1em;
}